{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<header>
    <nav>
        <a id = "logo" href="/"></a>
        <a href="/contact/" class="contact">Контакты</a>
        <a href="/about/" class="about">О нас</a>

        {% if user.is_authenticated %}
            <a href="{% url 'user_profile' user_id %}" class="profile">Личный кабинет</a>
{#            <a href="{% url 'logout' %}" class="id">Выйти</a>#}
{#            <a href="{% url 'logout/' %}" class="id">Выйти</a>#}
        {% else %}
            <a href="/register/" class="register">Зарегистрироваться</a>
            <a href="/login/" class="login">Войти</a>
        {% endif %}

    </nav>
</header>