{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<header>
    <nav>
        <a id = "logo" href="/"></a>
        <a href="/contact/" class="contact">Контакты</a>
        <a href="/about/" class="about">О нас</a>

        {% if user.is_authenticated %}

            <div class="dropdown-position">
                <div class="dropdown">
                    <a href="{% url 'user_profile' user_id %}" class="dropbtn"><img src="{{ avatar_url }}" alt="avatar"></a>
                    <div class="dropdown-content">
                        <a href="{% url 'user_profile' user_id %}">Личный кабинет</a>
                        <a href="#">Ссылка 2</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
            </div>

        {% else %}
            <a href="/register/" class="register">Зарегистрироваться</a>
            <a href="/login/" class="login">Войти</a>
        {% endif %}

    </nav>
</header>