{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <title>{% block title %}Weervet{% endblock %}</title>
    <!-- Вставьте вашу общую стилизацию, скрипты и т.д. -->
</head>
<body class="body-container">
    <header class="header-container">
        {% include 'base_header.html' %}
        <!-- Заголовок сайта, навигационное меню и т.д. -->
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer-container">
        {% include 'base_footer.html' %}
        <!-- Футер сайта -->
    </footer>
</body>
</html>
