{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <link rel="stylesheet" type="text/css" href="{% static 'css/id.css' %}">
        <h1>Личный кабинет</h1>
        {% if avatar_url %}
            <img src="{{ avatar_url }}" alt="avatar" class="avatar">
        {% endif  %}
        <p>Username: {{ user.username }}</p>
        <p>Username: {{ user.id }}</p>
        <a href="{% url 'user_settings' user_id%}" class="id">Настройки</a>
    </div>
{% endblock %}
