
{% extends 'base.html' %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки пользователя</title>
</head>
<body>
    {% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
        <h1>Настройки пользователя</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>

        {% if avatar_url %}
            <h2>Текущий аватар</h2>
            <img src="{{ avatar_url }}" alt="Avatar" style="width: 200px; height: 200px; border-radius: 50%;">
            <form action="{% url 'delete_avatar' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete_avatar" value="true">
                <button type="submit">Удалить аватарку</button>
            </form>
        {% endif %}
    {% endblock %}
</body>
</html>
