.header-container {
    margin: auto;
    border: 2px solid darkorange; /* Граница контейнера */
    background-color: mediumseagreen;
    border-radius: 20px;
    padding: 30px; /* Отступы внутри контейнера */
}

.body-container {
    width: 60%;
    margin: auto;
    border: 1px solid darkorange;
    border-radius: 20px;
}

.footer-container {
    margin: auto;
    border: 2px solid darkorange; /* Граница контейнера */
    background-color: mediumseagreen;
    border-radius: 20px;
    padding: 30px; /* Отступы внутри контейнера */
}

#logo {
    background-image: url("weervet2.png");
    margin-top: -30px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.contact {
    margin-left: 150px;
    text-decoration: none;
    font-size:30px;
    font-family: Impact, Charcoal, sans-serif;
    width:148px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    background: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact:hover {
    background: orange;
}

.about {
    margin-left: 20px;
    text-decoration: none;
    font-size:30px;
    font-family: Impact, Charcoal, sans-serif;
    width:150px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    background: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.about:hover {
    background: orange;
}



.register {
    margin-left: 20px;
    text-decoration: none;
    font-size:30px;
    font-family: Impact, Charcoal, sans-serif;
    width:150px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    background: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.register:hover {
    background: orange;
}

.login {
    margin-left: 20px;
    text-decoration: none;
    font-size:30px;
    font-family: Impact, Charcoal, sans-serif;
    width:150px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    background: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.login:hover {
    background: orange;
}

.id {
    margin-left: 20px;
    text-decoration: none;
    font-size:30px;
    font-family: Impact, Charcoal, sans-serif;
    width:150px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    background: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.id:hover {
    background: orange;
}

.dropdown-position {
    margin-left: 95%;
    margin-top: -35px;
}

.dropbtn img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Стили для основной кнопки меню */
.dropbtn {

    border-radius: 100%;

    color: white;
    border: none;
}

/* Стили для контейнера выпадающего меню */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Стили для содержимого выпадающего меню (по умолчанию скрыто) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a:hover {
  background-color: #18ab29;
}

/* Показываем выпадающее меню, когда наводим курсор на основную кнопку */
.dropdown:hover .dropdown-content {
  display: block;
}
